/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul{
    flex-direction: column;
}
/* home section */
#home{
    height: 300px;
    flex-direction: column;
}
home::before{
    height: 200px;
}

/* service section */
#services{
flex-direction: column;
}
#services.box{
height: "";
}

/* client section */

#clint{
    overflow: hidden;
}


/* contact us section */




/* footer */